# management.endpoint.web.exposure.include=*
spring:
  application:
    name: ecom-micro-product
  datasource:
#    url: jdbc:postgresql://localhost:5433/ecom-microProductDB
    url: jdbc:mysql://localhost:3307/ecom_micro
    password: ecom_micro
    username: ecom_micro
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQLDialect
    properties:
      hibernate:
        format_sql: true
#  h2:
#    console:
#      enabled: true
#  datasource:
#    url: jdbc:h2:mem:test
#  jpa:
#    show-sql: true
#    hibernate:
#      ddl-auto: create

server:
  port: 8001
management:
  endpoints:
    web:
      exposure:
        include: "*"
app:
  message: "Hallo Product"

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8085/eureka/
    register-with-eureka: true
    fetch-registry: true






